* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.button {
  background-color: rgb(214, 231, 231);
  width: 50%;
  padding: 8px;
  border: none;
  font-size: medium;
  cursor:pointer;
}

.ErrorMssg {
  padding: 8px;
  font-size: small;
  color: darkred;
}

.form {
  background-color: #aaaaaa;
  padding: 10px;
  margin: 15px 0px;
  border-radius: 7px;
}

.formDecoration {
  background-color: cadetblue;
  width: 200px;
  margin: 5px;
  padding: 10px;
  margin-left: -20px;
}

.input {
  display: block;
  font-size: small;
  background-color: transparent;
  border: none;
  width: 50%;
  border-bottom: 1px solid #000000;
}

.inputForm {
  orientation: left;
  width: 50%;
  border-bottom: 1px solid #000000;
}

.formLabel {
  display: block;
  font-size: medium;
  margin: 10px 0px;
}

.caption {
  font-size: x-large;
}

.side {
  background-color: #ffffff;
  padding: 20px;
  float: left;
  width: 20%;
}

.main {
  background-color: #c5c5c5;
  padding: 40px;
  float: left;
  margin: 0px;
  width: 60%; /* The width is 60%, by default */
}



.bit {
  width: 25px;
  height: 25px;
  margin: 1px;
  text-align: center;
  border: 1px solid gray;
  background-color: white;
  display: inline-block;
  line-height: 25px;
  transition: background-color 1.5s ease-out;
}

.bit.active {
    background-color: yellow;
  }

.slim {
    width: 15px;
}

.center {
  text-align: center;
}

.leftOrient {
    margin: 10px;
    margin-top: 15px;
}



.label {
  display: inline-block;
  width: 20px;
}

.labelBig {
    width: 60px;
}

#bitArray {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .main {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (max-width: 800px) {
  .side {
    display: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
